body, html{
	height: 100%;
	margin: 0px;
	
}
.center{
	margin-left:auto;
	margin-right:auto;

}

#wrapper{
	position: relative;
	min-height:100%;
	background-color: #ffffff;
	text-align: center;
}

#container{
	margin: 0 auto;
	min-height: 100%;
	width: 100%;
	/*background-color: blue;*/
	padding-bottom:  40px;
}


nav{
	background-color: #656a85;
	padding: 25px;
	border: 2px solid black;
}

nav a{
	color: white;
	padding: 25px;
	background-color: /*red*/;
	font-size: 25px;
}

nav a:nth-child(n-1){
	/*border-right: 1px dashed;*/
	text-decoration: none;
}

nav a:hover{
	background-color: #667191   height: 20px width: 20px;
}

.active{
	background-color: #667191 ;
}


footer{
	/*clear: both;*/
    position: absolute;
    /*left: 0px;*/
    bottom: 0px;
    height: 40px;
    width: 100%;
    padding:1% 0%;
    /*background-color: orange;*/
    /*margin-top: -200px;*/
}

.portimage{
	/*background-color: red;*/
	/*border-bottom: 2px solid;*/
	/*border-top: 2px solid;*/
	/*margin: 0px;*/
	/*padding: 0px;*/
	width: 100%;
	background-color: white;
}

.portimage img{
	width: 100%;
	max-width: 800px;
	height: 100%;
}

form{
	width: 400px;
	/*background-color: red;*/
	margin: 0 auto;
}
form div{
	text-align: left;
	margin: 20px;
	/*margin-left: 25px;*/
}

form div label{
	width: 100px;
	/*min-width: 100px;*/
	/*max-width: 120px;*/
	display: inline-block;
}


@media screen and (max-width: 962px){
}
